
body {
    font-family: "Lato", sans-serif;
  }
  
  .sidebar{
      width:100%;
      background-color: #F23443;
  }

  .mainpage{

    overflow: auto;
    margin-left: 258px;
    height:98vh;
    background-color: grey;

  }

  .mainform{

    height:98vh;
    background-color: grey;
  }

  .profil-edit{
    margin: 0px;
    padding: 0px;
  }

  .profil-edit img{
    width:200px;

    margin: 0px; 
    
  }