
body {
    font-family: "Lato", sans-serif;
  }
  
  .sidebar{
      width:100%;
      background-color: #F23443;
  }

  .mainpage{
    /* padding: 1000px; */
    
    margin-left: 258px;
    height:98vh;
    background-color: grey;

  }

  .search{
    margin-top: 10px;
    /* width: 200px; */
  }

  .mid{
    background-color: #fff;
    height: 98vh;
  }

  .user_data-interface img{
    width:200px;
    margin: 0px; 
    
  }


